/**
 * Hoja de estilos complementarios para Twinkle Lite
 *
 * Si deseas sugerir cambios o editar esta hoja, por favor contacta a [[Usuario:Nacaru]] o deja un mensaje en [[WP:TAI]].
 */

.skin-minerva .minerva-icon-portletlink-TL-button {
    background-size: cover;
    background-color: unset;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/80/Twinkle_Lite_logo.svg")
}